<include file="top" />	
<!-- BUY NOW关于我们页面 -->  
<!-- SLIDER -->
<div id="slider-containerb" class=" clearfix">
   <neq name="two_pic" value="">
<div class="flexsliderb loading" style=" background-image:url(__PUBLIC__/Uploads/class/{$two_pic['pic']})" >
       <div class="flex-captionb">
  		<div class="container columns">
			<div class="title">
				<h2><span class="bold" >{$two_pic['title']}</span></h2>
				<p class="subtitle-2">{$two_pic['stitle']}</p>
			</div>
									
		</div>
     </div>
 </div>
		</neq>
      </div>
<!-- End slider -->

 <!-- BUY NOW -->  
  <div id="menu-s"> 
    <div class="grey-b "> 
      <div class="container clearfix "> 
        <div class="mains-nav column"> 
		 <!--2017/4/18郭修改导航栏显示问题-->
		  <ul>
            <li class="mainn">{$class[7]['name']}</li>
			<foreach name="menuList" item="v">
              <if condition="$v.id eq $getId">
                <li>
                  <a href="__URL__/{$v.id|get_class_url}?id={$v.id}" ><span style="color:#00a0e9">{$v.name}</span></a></li>
              <else/>
               <li><a href="__URL__/{$v.id|get_class_url}?id={$v.id}" >{$v.name}</a></li>
              </if>
            </foreach>
           </ul>
          <br/>
          
        </div>
      </div>
    </div>
  </div> 

<!--2017/3/4-->
 	
		
    
	<div class="container clearfix m-top-10 p-bot-35 ">
	
		<div   class="eleven columns m-bot-25 ">
		<h3 style="color:#333">公司简介</h3>
        </div>
	<div class="column company" >
		<h4 class="p-bot-15" >{$company[0].title} </h4>
		<p>{$company[0].content}</p>
	</div>
	</div>	



<script type="text/javascript" src="__PUBLIC__/home/js/jquery.validate.min.js"></script> 
<!-- Sticky nav start -->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.sticky.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#menu-s").sticky({topSpacing:0});
	});
</script>
<!-- Sticky nav end -->
<include file="bottom" />	