<include file="top" />

    
<div id="menu-s">
  <div class="grey-b "> 
    <div class="container clearfix "> 
      <div class="mains-nav column"> 
        <ul>
          <li class="mainn">广电/新媒体</li>
          <li class="current"><a  href="case-view.html">台内业务</a></li>
          <li><a  href="case-view.html">新媒体</a></li>
          <li><a  href="case-view.html">有线运营商</a></li>
          <li><a  href="case-view.html">视频内容生产与管理</a></li>
          <li><a  href="case-view.html">客户列表</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  

 </div>	<!-- Grey bg end -->



<!-- CONTENT -->
	<div class="container clearfix clearfix m-top-30">
		<div class="sixteen columns m-bot-25">
<div class="eleven columns m-bot-25"><h5 >南方传媒</h5></div>	

<div class="slider-1 clearfix  m-bot-25">
   
        <div class="flex-container"> 
          <div class="flexslider loading" > 
           
              <div class="eleven contain"> <img src="images/002.jpg" class="item"/> 
             
            </div>
            <!-- End Container -->
          </div>
        </div>
     
   </div>
		<!-- PORTFOLIO ITEM -->
			<div class="blog-item m-bot-35 clearfix">

						<div class="blog-item-text-container">
							<p>南方报业传媒集团由《南方日报》及其创办的系列报刊发展而来。《南方日报》1949年10月23日创刊于广州。在半个多世纪的发展历程中，南方日报以其不可替代的权威性、公信力和高品质的主流新闻和深度报道，确立华南地区主流政经媒体地位，是广东唯一主打高端读者群的权威政经大报。南方报业传媒集团的前身为南方日报报业集团，于1998年5月18日正式挂牌运作。2005年7月18日，南方日报报业集团更名为南方报业传媒集团</p><p>

ArcVideo™ Live立足于中国市场，致力于加速视频产业生产变革，推动多屏产业融合，基于21年多媒体领域的技术积累，为广电新媒体、有线网络、公安、军队、移动视频、视频网站等领域提供完整的在线多屏编转码解决方案。
</p>

						</div>

	
			</div>


		</div>

<!-- SIDEBAR -->

	</div>







<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.min.js"></script>
<!-- Sticky nav start -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.sticky.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#menu-s").sticky({topSpacing:0});
	});
</script>
<!-- Sticky nav end -->
<include file="bottom" />	