<include file="top" /> 
<!-- SLIDER -->
<div id="slider-containerb" class=" clearfix">
   <neq name="two_pic" value="">
<div class="flexsliderb loading" style="background-image: url(__PUBLIC__/Uploads/class/{$two_pic['pic']})" > 
     <!-- <img src="__PUBLIC__/Uploads/class/{$two_pic['pic']}" class="item"  />  -->
       <div class="flex-captionb">
  		<div class="container columns">
			<div class="title">
				<h2><span class="bold" >{$two_pic['title']}</span></h2>
				<p class="subtitle-2">{$two_pic['stitle']}</p>
			</div>
									
		</div>
     </div>
 </div>
		</neq>
      </div>
<!-- End slider -->

 <!-- BUY NOW -->  
 <div id="menu-s"> 
  <div class="grey-b "> 
    <div class="container clearfix "> 
      <div class="mains-nav column"> 
	   <ul>
            <li class="mainn">{$class[6]['name']}</li>
			<foreach name="menuList" item="v">
              <if condition="$v.id eq $getId">
                <li>
                  <a href="__URL__/{$v.id|get_class_url}?id={$v.id}" ><span style="color:#00a0e9">{$v.name}</span></a></li>
              <else/>
               <li><a href="__URL__/{$v.id|get_class_url}?id={$v.id}" >{$v.name}</a></li>
              </if>
            </foreach>
          </ul><br/>
        <ul>

        </ul>
      </div>
    </div>
  </div>
 </div> 

<!-- LATEST WORK -->
  <!-- 开发中 -->
<!-- <div class=" p-top-35 m-bot-35">
		<div style=" padding:30px 0px;">
        	<center>
            <img src="__PUBLIC__/home/images/kaifa.jpg" />
            </center>
        </div>
</div> -->	
<!-- //开发中 -->
<!-- 屏蔽 -->
  <div class="container filter-portfolio clearfix m-top-25">
    <ul id="portfolio" class="clearfix download">
        <div class="sixteen columns down">下载中心 <span style=" text-align:center"> &nbsp;&nbsp;登录后可下载</span></div>

        <foreach name="fileList" item='vv'>

          <li  class="sixteen columns  b-border ">
            <a  href="__URL__/downLoad?id={$vv.f_id}" >
             <div class="news-title">{$vv.title}&nbsp;&nbsp;<img src="__PUBLIC__/home/images/download2.png" alt="" /></div>
             
             <div class="news-time">{$vv.addtime|date="Y-m-d H:i",###}</div> 
            </a>
          </li>
      </foreach>
      </ul>
      

  </div>
  <!-- 屏蔽 -->

<script type="text/javascript" src="__PUBLIC__/home/js/jquery.sticky.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#menu-s").sticky({topSpacing:0});
	});
</script>
<!-- Sticky nav end -->
	<include file="bottom" />