<include file="top" /> 
<!-- SLIDER -->
<!--企业荣誉-->
<div id="slider-containerb" class=" clearfix">

 </div>
<!-- BUY NOW -->
 <div id="menu-s">  
    <div class="grey-b "> 
      <div class="container clearfix "> 
        <div class="mains-nav column"> 
          <ul>
            <li class="mainn">{$_GET['id']|get_id_classname}</li>
			<foreach name="three" item="v">
            <li class="current"><a  href="__URL__/honor_view?id={$v.id}&&pid={$v.pid}" >{$v.name}</a></li>
			</foreach>
			<li class="current"><a  href="#tab1" >合作伙伴</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> 

	
<!-- CONTENT -->
	<div class="container filter-portfolio clearfix m-top-50">
		<ul id="portfolio" class="clearfix">
		<!-- PORTFOLIO ITEM -->
		<foreach name="honor_list" item="vo">
			<li data-id="id-1" data-type="category1" class="four columns m-bot-35">
						<div class="hover-item">
							<div class="view view-first">
								<!-- honor修改为other -->
								<img style=" width:310px;height:200px;" src="__PUBLIC__/Uploads/other/{$vo.pic}" alt="Ipsum" >
								<div class="mask"></div>	
								
            <div class="abs"> <a href="__PUBLIC__/Uploads/other/{$vo.pic}" class="lightbox zoom info"></a> 
            </div>	
							</div>
							<div class="lw-item-caption-container">
								
									<div class="item-title-main-container clearfix">
										<div class="item-title-text-container">
											{$vo.name}
										</div>
									</div>
								
								
							</div>
						</div>
			</li>
	</foreach>
		</ul>
	</div>	
	
<!-- 合作伙伴 -->
<div class="grey-bg m-top-25 ">
	<div class="container clearfix p-top-35 p-bot-35 ">
	<div class="sixteen columns  ">
		<h5 id="tab1">合作伙伴</h5>
	</div>			
	
	<div class="container clearfix">
		<div class="sixteen columns m-bot-20">
            <div class="scrollpic">
					<div id="mybtns">
					  <a href="javascript:;" id="right"></a>
					  <a href="javascript:;" id="left"></a>
					</div>
					<div id="myscroll">
						<div id="myscrollbox">
							<ul>
				            <foreach name="friend" item="vo">
								<li><a href=""><img src="__PUBLIC__/Uploads/other/{$vo.logo}" width="218" height="125" /></a></li>
							</foreach>
							</ul>
						</div>
					</div>
				</div>
		</div>	
	</div>
		
	</div>	
</div>
<!-- OUR NEWS End -->
<!--  friend slider -->
<script type="text/javascript">
        picrun_ini()
 </script>
  <!--  friend slider -->
<!-- FOOTER -->
<include file="bottom" /> 