<include file="top" />
<!-- SLIDER -->
<!--成功案例-->
<div id="slider-containerb" class=" clearfix">
   <neq name="two_pic" value="">
<div class="flexsliderb loading" style="background-image: url(__PUBLIC__/Uploads/class/{$two_pic['pic']});"> 
     				<!-- <img src="__PUBLIC__/Uploads/class/{$two_pic['pic']}" class="item"  />  -->
       <div class="flex-captionb">
  		<div class="container columns">
			<div class="title">
				<h2><span class="bold" >{$two_pic['title']}</span></h2>
				<p class="subtitle-2">{$two_pic['stitle']}</p>
			</div>
		</div>
     </div>
 </div>
</neq>
 </div>
<div id="menu-s"> 
    <div class="grey-b "> 
      <div class="container clearfix "> 
        <div class="mains-nav column"> 
          <ul>
            <li class="mainn">{$class[3]['name']}</li>
			<foreach name="menuList" item="v">
				<if condition="$v.id eq $getId">
					<li><a href="__URL__/success_case?id={$v.id}" ><span style="color:#00a0e9">{$v.name}</span></a></li>
				<else/>
				<li><a  href="__URL__/success_case?id={$v.id}" >{$v.name}</a></li>
				</if>
			</foreach>
          </ul>
        </div>
      </div>
    </div>
</div>
<!-- Grey bg end -->	
<!-- content -->
		<div class="container clearfix m-top-50  ">
			<div class="column  title-w">
				{$two_pic['content']}
			</div>
		</div>
	<!-- content -->
<!-- LATEST WORK -->
<div style="margin-top: 10px;">
<div class="container filter-portfolio clearfix ">

<ul id="portfolio" class="clearfix succCases">
				
				<!-- LATEST WORK ITEM -->
				<foreach name="other" item="v">
				<li  class="one-third column m-bot-35">
						<div class=" hover-item">
							<div class="caseL">
							<a  href="__URL__/case_class?id={$v.id}&&pid={$v.pid}" target="_blank">
								<div class="view view-first view-case">
								<img src="__PUBLIC__/Uploads/class/{$v.id|get_quick_pic}" alt="Ipsum" >
								<div class="mask"></div>
							</div>
							</a>
							</div>
							<div class="lw-item-caption-container">
								<a class="a-invert" style="line-height:1em" href="__URL__/case_class?id={$v.id}&&pid={$v.pid}" target="_blank">
									{$v.name}
								</a>
								<div class="item-caption">
							{$v.id|get_quick_content|htmlspecialchars_decode|strip_tags|mb_substr=0,285,'utf-8'}</div>
							</div>
						</div>
				</li>	
				
				</foreach>		
			</ul>

	</div></div>	


<!--case.html-->
<!-- Sticky nav start -->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.sticky.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#menu-s").sticky({topSpacing:0});
	});
</script>

<!-- Sticky nav end -->
<include file="bottom" />