<style type="text/css">
html{overflow-x: hidden;}
#video {   
    height: 100%;  
    width: 100%;  
    position: absolute;  
    top: 0px;  
    bottom: 0px;  
    /*background: #00FF00 url('map/n/n/n.png') repeat;  */
   z-index: 0; 
overflow:hidden; word-break:break-all; } 
</style>
<!-- 主体 -->

  <div  id="video">
     <video  autoplay="autoplay" preload="auto" controls  loop poster=__PUBLIC__/home/images/post.jpg>
     <source  type="video/mp4"  src=http://www.sensetime.com/static/web/video/%E5%85%B3%E9%94%AE%E7%82%B9%E5%AE%9A%E4%BD%8D.mp4>
     </video>
  </div>  

<script type="text/javascript">
    setTimeout(function() {
      window.location.href="products?id=11";
    }, 10000);
</script>
