
<style type="text/css">
html{overflow-x: hidden;}
#video {   
    height: 100%;  
    width: 100%;  
    position: absolute;  
    top: 0px;  
    bottom: 0px;  
    /*background: #00FF00 url('map/n/n/n.png') repeat;  */
   z-index: 0;  
overflow:hidden; word-break:break-all; } 
</style>
	
<div  id="video">
	 <video  autoplay="autoplay" preload="auto"  controls loop poster=__PUBLIC__/home/images/post.jpg>
     <source  type="video/mp4"  src="http://www.hongshiyun.net/views/arcvideo//film/video.mp4">
     </video>
</div> 


<script type="text/javascript">
    setTimeout(function() {
     window.location.href="index.html";
    }, 15000);
 
</script>
