<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/H-ui/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>栏目管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 栏目管理 <span class="c-gray en">&gt;</span> {$class['name']} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加栏目','__MODULE__/Class/class_add','800')"><i class="Hui-iconfont">&#xe600;</i> 添加栏目</a> </span>  </div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="6">{$class['name']}管理</th>
			</tr>
			<tr class="text-c">
				<th width="100">ID</th>
				<th width="50">栏目排序</th>
				<if condition="($class.id eq 2) OR ($class.id eq 4) OR ($class.id eq 5)">
					<th width="80">子栏目排序</th>
				</if>
				<th width="200" ><div align="left">栏目名称</div></th>
				<th width="160" >上级栏目</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<foreach name="class_cp" item="vo">
	 <volist name=":getsub($vo['id'])" id="vv">	
		<tbody>
			<tr class="text-c">
				<td>{$vv.id}</td>
				<if condition="$vv.id eq $vo['id'] ">
					<td>
						<form action="__URL__/class_order" method="post">
						<input  class="input-text text-c" type="text" name="order" value="{$vo.ord}"  style="width:50px;">
						<input type="hidden" name="id" value="{$vo.id}">
						<input type="submit" value="确定" ></form>
					</td>
				<else/>
					<td></td>
				</if>
				<if condition="($class.id eq 2) OR ($class.id eq 4) OR ($class.id eq 5)">
				<if condition="$vv.id neq $vo['id'] ">
					<td>
						<form action="__URL__/class_order_son" method="post">
						<input  class="input-text text-c" type="text" name="ord2" value="{$vv.ord2}"  style="width:50px;">
						<input type="hidden" name="id" value="{$vv.id}">
						<input type="submit" value="确定" ></form>
					</td>
				<else/>
					<td></td>
				</if>
				</if>
				<td ><div align="left">{$vv.name|get_class_orson}</div></td>
				<td >{$vv.pid|get_class_pid}</td>
				<td class="f-14"><a title="编辑" href="javascript:;" onclick="admin_role_edit('修改栏目','__MODULE__/Class/class_save?id={$vv.id}','4')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_role_del({$vv.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		</tbody>
	 </volist>	
  </foreach>
	</table>
</div>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
/*管理员-角色-添加*/
function admin_role_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-角色-编辑*/
function admin_role_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-角色-删除*/
function admin_role_del(id){
	layer.confirm('栏目删除须谨慎，确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		 $.ajax({
                type: "get",
                async: false,  // 设置同步方式  ********
                url: "{:U('Class/del_class')}?id=" + id,
                datatype: "json",
                success: function (msg)
                {
                    if (msg == "0")
                    {
						layer.msg('已删除!',{icon:1,time:1000});
						location.replace(location.href);
                    }else
					{
						layer.msg('删除失败!',{icon:1,time:1000});
					}
                    
                }
            });
	});
}
</script>
</body>
</html>